/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/order/v202511"
)


// OrderV202511APIService OrderV202511API service
type OrderV202511APIService service

type ApiOrder202511OrdersBlindBoxResultCallbackPostRequest struct {
    ctx context.Context
    ApiService *OrderV202511APIService
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    order202511UpdateTheBlindBoxOpeningResultsRequestBody *order_v202511.Order202511UpdateTheBlindBoxOpeningResultsRequestBody
}

// 
func (r ApiOrder202511OrdersBlindBoxResultCallbackPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiOrder202511OrdersBlindBoxResultCallbackPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiOrder202511OrdersBlindBoxResultCallbackPostRequest) ContentType(contentType string) ApiOrder202511OrdersBlindBoxResultCallbackPostRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiOrder202511OrdersBlindBoxResultCallbackPostRequest) ShopCipher(shopCipher string) ApiOrder202511OrdersBlindBoxResultCallbackPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiOrder202511OrdersBlindBoxResultCallbackPostRequest) Order202511UpdateTheBlindBoxOpeningResultsRequestBody(order202511UpdateTheBlindBoxOpeningResultsRequestBody order_v202511.Order202511UpdateTheBlindBoxOpeningResultsRequestBody) ApiOrder202511OrdersBlindBoxResultCallbackPostRequest {
    r.order202511UpdateTheBlindBoxOpeningResultsRequestBody = &order202511UpdateTheBlindBoxOpeningResultsRequestBody
    return r
}
func (r ApiOrder202511OrdersBlindBoxResultCallbackPostRequest) Execute() (*order_v202511.Order202511UpdateTheBlindBoxOpeningResultsResponse, *http.Response, error) {
    return r.ApiService.Order202511OrdersBlindBoxResultCallbackPostExecute(r)
}

/*
Order202511OrdersBlindBoxResultCallbackPost UpdateTheBlindBoxOpeningResults
After the merchant completes the blind box opening in the live room, then the blind box results are transmitted back to the platform, after which the user can view the unboxing results in the order details

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiOrder202511OrdersBlindBoxResultCallbackPostRequest
*/
func (a *OrderV202511APIService) Order202511OrdersBlindBoxResultCallbackPost(ctx context.Context) ApiOrder202511OrdersBlindBoxResultCallbackPostRequest {
    return ApiOrder202511OrdersBlindBoxResultCallbackPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Order202511UpdateTheBlindBoxOpeningResultsResponse
func (a *OrderV202511APIService) Order202511OrdersBlindBoxResultCallbackPostExecute(r ApiOrder202511OrdersBlindBoxResultCallbackPostRequest) (*order_v202511.Order202511UpdateTheBlindBoxOpeningResultsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *order_v202511.Order202511UpdateTheBlindBoxOpeningResultsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderV202511APIService.Order202511OrdersBlindBoxResultCallbackPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/order/202511/orders/blind_box_result/callback"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.order202511UpdateTheBlindBoxOpeningResultsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
