/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"

    "tiktokshop/open/sdk_golang/models/affiliate_creator/v202504"
)


// AffiliateCreatorV202504APIService AffiliateCreatorV202504API service
type AffiliateCreatorV202504APIService service

type ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateCreatorV202504APIService
    publisherId string
    xTtsAccessToken *string
    contentType *string
    affiliateCreator202504CreatorGeneratePublisherLinkRequestBody *affiliate_creator_v202504.AffiliateCreator202504CreatorGeneratePublisherLinkRequestBody
}

// 
func (r ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest) ContentType(contentType string) ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest) AffiliateCreator202504CreatorGeneratePublisherLinkRequestBody(affiliateCreator202504CreatorGeneratePublisherLinkRequestBody affiliate_creator_v202504.AffiliateCreator202504CreatorGeneratePublisherLinkRequestBody) ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest {
    r.affiliateCreator202504CreatorGeneratePublisherLinkRequestBody = &affiliateCreator202504CreatorGeneratePublisherLinkRequestBody
    return r
}
func (r ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest) Execute() (*affiliate_creator_v202504.AffiliateCreator202504CreatorGeneratePublisherLinkResponse, *http.Response, error) {
    return r.ApiService.AffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostExecute(r)
}

/*
AffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPost CreatorGeneratePublisherLink
You can use this API to generate material sharing links for a specific publisher. After that, you can share the link with the publisher. Right now, the material type must be `PRODUCT`.
Please ensure that the material is included in the campaign by using [Generate Multi Affiliate Partner Campaign Product Links](generate-multi-affiliate-partner-campaign-product-links).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param publisherId The publisher id in partner's system
@return ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest
*/
func (a *AffiliateCreatorV202504APIService) AffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPost(ctx context.Context, publisherId string) ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest {
    return ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest{
        ApiService: a,
        ctx: ctx,
        publisherId: publisherId,
    }
}

// Execute executes the request
//  @return AffiliateCreator202504CreatorGeneratePublisherLinkResponse
func (a *AffiliateCreatorV202504APIService) AffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostExecute(r ApiAffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPostRequest) (*affiliate_creator_v202504.AffiliateCreator202504CreatorGeneratePublisherLinkResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_creator_v202504.AffiliateCreator202504CreatorGeneratePublisherLinkResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateCreatorV202504APIService.AffiliateCreator202504AffiliateSharingLinksPublisherPublisherIdGenerateBatchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_creator/202504/affiliate_sharing_links/publisher/{publisher_id}/generate_batch"
    localVarPath = strings.Replace(localVarPath, "{"+"publisher_id"+"}", url.PathEscape(parameterValueToString(r.publisherId, "publisherId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateCreator202504CreatorGeneratePublisherLinkRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
