/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"

    "tiktokshop/open/sdk_golang/models/affiliate_partner/v202505"
)


// AffiliatePartnerV202505APIService AffiliatePartnerV202505API service
type AffiliatePartnerV202505APIService service

type ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest struct {
    ctx context.Context
    ApiService *AffiliatePartnerV202505APIService
    campaignId string
    xTtsAccessToken *string
    contentType *string
    categoryAssetCipher *string
    affiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody *affiliate_partner_v202505.AffiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody
}

// 
func (r ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest) ContentType(contentType string) ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest {
    r.contentType = &contentType
    return r
}
// The partner identifier used in API requests. Retrieve this value by using the [Get Authorized Category Assets API] (https://partner.tiktokshop.com/docv2/page/666012dd609d4402cc3be995).
func (r ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest) CategoryAssetCipher(categoryAssetCipher string) ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest {
    r.categoryAssetCipher = &categoryAssetCipher
    return r
}
func (r ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest) AffiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody(affiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody affiliate_partner_v202505.AffiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody) ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest {
    r.affiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody = &affiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody
    return r
}
func (r ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest) Execute() (*affiliate_partner_v202505.AffiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkResponse, *http.Response, error) {
    return r.ApiService.AffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostExecute(r)
}

/*
AffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPost PartnerGenerateMultiAffiliateCampaignProductLink
This API offers the ability to generate promotion links for multiple products in a campaign.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param campaignId The ID of the campaign
@return ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest
*/
func (a *AffiliatePartnerV202505APIService) AffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPost(ctx context.Context, campaignId string) ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest {
    return ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest{
        ApiService: a,
        ctx: ctx,
        campaignId: campaignId,
    }
}

// Execute executes the request
//  @return AffiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkResponse
func (a *AffiliatePartnerV202505APIService) AffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostExecute(r ApiAffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPostRequest) (*affiliate_partner_v202505.AffiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_partner_v202505.AffiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliatePartnerV202505APIService.AffiliatePartner202505CampaignsCampaignIdProductsPromotionLinksGenerateBatchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_partner/202505/campaigns/{campaign_id}/products/promotion_links/generate_batch"
    localVarPath = strings.Replace(localVarPath, "{"+"campaign_id"+"}", url.PathEscape(parameterValueToString(r.campaignId, "campaignId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.categoryAssetCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_asset_cipher", r.categoryAssetCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliatePartner202505PartnerGenerateMultiAffiliateCampaignProductLinkRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
