/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/affiliate_creator/v202512"
)


// AffiliateCreatorV202512APIService AffiliateCreatorV202512API service
type AffiliateCreatorV202512APIService service

type ApiAffiliateCreator202512SamplesDeeplinkGetRequest struct {
    ctx context.Context
    ApiService *AffiliateCreatorV202512APIService
    productId *string
    skuId *string
    xTtsAccessToken *string
    contentType *string
    redirectSchema *string
    campaignId *string
    collaborationId *string
}

// Product id
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) ProductId(productId string) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    r.productId = &productId
    return r
}
// Sku id
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) SkuId(skuId string) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    r.skuId = &skuId
    return r
}
// 
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) ContentType(contentType string) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    r.contentType = &contentType
    return r
}
// An URL schema for App redirection after sample request
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) RedirectSchema(redirectSchema string) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    r.redirectSchema = &redirectSchema
    return r
}
// If the product belongs to a TAP campaign, a campaign_id is required.
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) CampaignId(campaignId string) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    r.campaignId = &campaignId
    return r
}
// If the product belongs to a seller collaboration, a collaboration_id is required.
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) CollaborationId(collaborationId string) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    r.collaborationId = &collaborationId
    return r
}
func (r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) Execute() (*affiliate_creator_v202512.AffiliateCreator202512CreatorGetSampleRequestDeeplinkResponse, *http.Response, error) {
    return r.ApiService.AffiliateCreator202512SamplesDeeplinkGetExecute(r)
}

/*
AffiliateCreator202512SamplesDeeplinkGet CreatorGetSampleRequestDeeplink
Use this API to get a one-time TikTok deeplink, use this deeplink to launch TikTok app and land the user on the sample request page.
If the redirect_schema is valid, TikTok will redirect the user back to the 3rd party app after the sample request is submitted.
The deeplink generated can only be used by the creator who authorizes this API call.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateCreator202512SamplesDeeplinkGetRequest
*/
func (a *AffiliateCreatorV202512APIService) AffiliateCreator202512SamplesDeeplinkGet(ctx context.Context) ApiAffiliateCreator202512SamplesDeeplinkGetRequest {
    return ApiAffiliateCreator202512SamplesDeeplinkGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateCreator202512CreatorGetSampleRequestDeeplinkResponse
func (a *AffiliateCreatorV202512APIService) AffiliateCreator202512SamplesDeeplinkGetExecute(r ApiAffiliateCreator202512SamplesDeeplinkGetRequest) (*affiliate_creator_v202512.AffiliateCreator202512CreatorGetSampleRequestDeeplinkResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_creator_v202512.AffiliateCreator202512CreatorGetSampleRequestDeeplinkResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateCreatorV202512APIService.AffiliateCreator202512SamplesDeeplinkGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_creator/202512/samples/deeplink"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.productId == nil {
        return localVarReturnValue, nil, reportError("productId is required and must be specified")
    }
    if r.skuId == nil {
        return localVarReturnValue, nil, reportError("skuId is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "sku_id", r.skuId, "")
    if r.redirectSchema != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "redirect_schema", r.redirectSchema, "")
    }
    if r.campaignId != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "campaign_id", r.campaignId, "")
    }
    if r.collaborationId != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "collaboration_id", r.collaborationId, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
