/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"
    "reflect"

    "tiktokshop/open/sdk_golang/models/return_refund/v202512"
)


// ReturnRefundV202512APIService ReturnRefundV202512API service
type ReturnRefundV202512APIService service

type ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest struct {
    ctx context.Context
    ApiService *ReturnRefundV202512APIService
    orderId string
    xTtsAccessToken *string
    contentType *string
    initiateAftersaleUser *string
    requestTypes *[]string
    shopCipher *string
}

// 
func (r ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest) ContentType(contentType string) ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest {
    r.contentType = &contentType
    return r
}
// The type of user you would like to check aftersale options for. Default: SELLER Possible values: - SELLER - BUYER
func (r ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest) InitiateAftersaleUser(initiateAftersaleUser string) ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest {
    r.initiateAftersaleUser = &initiateAftersaleUser
    return r
}
// Which request types you want to query. -CANCEL -REFUND -RETURN_AND_REFUND
func (r ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest) RequestTypes(requestTypes []string) ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest {
    r.requestTypes = &requestTypes
    return r
}
// 
func (r ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest) ShopCipher(shopCipher string) ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest) Execute() (*return_refund_v202512.ReturnRefund202512GetAftersaleEligibilityResponse, *http.Response, error) {
    return r.ApiService.ReturnRefund202512OrdersOrderIdAftersaleEligibilityGetExecute(r)
}

/*
ReturnRefund202512OrdersOrderIdAftersaleEligibilityGet GetAftersaleEligibility
Use this API to check eligible aftersale solutions for an order, including whether the seller or buyer can initiate a refund, return, or cancel a specific order.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param orderId The unique identifier for a TikTok Shop order.
@return ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest
*/
func (a *ReturnRefundV202512APIService) ReturnRefund202512OrdersOrderIdAftersaleEligibilityGet(ctx context.Context, orderId string) ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest {
    return ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest{
        ApiService: a,
        ctx: ctx,
        orderId: orderId,
    }
}

// Execute executes the request
//  @return ReturnRefund202512GetAftersaleEligibilityResponse
func (a *ReturnRefundV202512APIService) ReturnRefund202512OrdersOrderIdAftersaleEligibilityGetExecute(r ApiReturnRefund202512OrdersOrderIdAftersaleEligibilityGetRequest) (*return_refund_v202512.ReturnRefund202512GetAftersaleEligibilityResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *return_refund_v202512.ReturnRefund202512GetAftersaleEligibilityResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReturnRefundV202512APIService.ReturnRefund202512OrdersOrderIdAftersaleEligibilityGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/return_refund/202512/orders/{order_id}/aftersale_eligibility"
    localVarPath = strings.Replace(localVarPath, "{"+"order_id"+"}", url.PathEscape(parameterValueToString(r.orderId, "orderId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.initiateAftersaleUser != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "initiate_aftersale_user", r.initiateAftersaleUser, "")
    }
    if r.requestTypes != nil {
        t := *r.requestTypes
        if reflect.TypeOf(t).Kind() == reflect.Slice {
            s := reflect.ValueOf(t)
            for i := 0; i < s.Len(); i++ {
                parameterAddToHeaderOrQuery(localVarQueryParams, "request_types", s.Index(i).Interface(), "multi")
            }
        } else {
            parameterAddToHeaderOrQuery(localVarQueryParams, "request_types", t, "multi")
        }
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
