/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/affiliate_seller/v202512"
)


// AffiliateSellerV202512APIService AffiliateSellerV202512API service
type AffiliateSellerV202512APIService service

type ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202512APIService
    productId *string
    skuId *string
    xTtsAccessToken *string
    contentType *string
    campaignId *string
    collaborationId *string
    validDays *int64
    shopCipher *string
}

// Product id
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) ProductId(productId string) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.productId = &productId
    return r
}
// Sku id
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) SkuId(skuId string) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.skuId = &skuId
    return r
}
// 
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) ContentType(contentType string) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.contentType = &contentType
    return r
}
// If the product belongs to a TAP campaign, a campaign_id is required. only support campaign  type : - MY_CAMPAIGNS - SELLER_CAMPAIGNS
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) CampaignId(campaignId string) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.campaignId = &campaignId
    return r
}
// If the product belongs to a seller collaboration, a collaboration_id is required.
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) CollaborationId(collaborationId string) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.collaborationId = &collaborationId
    return r
}
// 7 days by default. 14 days maximum. 1 day minimum.
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) ValidDays(validDays int64) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.validDays = &validDays
    return r
}
// 
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) Execute() (*affiliate_seller_v202512.AffiliateSeller202512SellerGetSampleRequestDeeplinkResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202512SampleApplicationsDeeplinkGetExecute(r)
}

/*
AffiliateSeller202512SampleApplicationsDeeplinkGet SellerGetSampleRequestDeeplink
Use this API to get a TikTok deeplink, use this deeplink to launch the TikTok app and land the user on the sample request page.
- The seller can encode the deeplink into an QR code and send it to a creator via email.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest
*/
func (a *AffiliateSellerV202512APIService) AffiliateSeller202512SampleApplicationsDeeplinkGet(ctx context.Context) ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest {
    return ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202512SellerGetSampleRequestDeeplinkResponse
func (a *AffiliateSellerV202512APIService) AffiliateSeller202512SampleApplicationsDeeplinkGetExecute(r ApiAffiliateSeller202512SampleApplicationsDeeplinkGetRequest) (*affiliate_seller_v202512.AffiliateSeller202512SellerGetSampleRequestDeeplinkResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202512.AffiliateSeller202512SellerGetSampleRequestDeeplinkResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202512APIService.AffiliateSeller202512SampleApplicationsDeeplinkGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202512/sample_applications/deeplink"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.productId == nil {
        return localVarReturnValue, nil, reportError("productId is required and must be specified")
    }
    if r.skuId == nil {
        return localVarReturnValue, nil, reportError("skuId is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "sku_id", r.skuId, "")
    if r.campaignId != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "campaign_id", r.campaignId, "")
    }
    if r.collaborationId != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "collaboration_id", r.collaborationId, "")
    }
    if r.validDays != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "valid_days", r.validDays, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
