/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"

    "tiktokshop/open/sdk_golang/models/affiliate_seller/v202509"
)


// AffiliateSellerV202509APIService AffiliateSellerV202509API service
type AffiliateSellerV202509APIService service

type ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202509APIService
    targetCollaborationId string
    shopCipher *string
    xTtsAccessToken *string
    contentType *string
}

// Use this property to pass shop information in requesting the API. Failure in passing the correct value when requesting the API for cross-border shops will return incorrect response. Get by API [Get Authorization Shop](https://partner.tiktokshop.com/docv2/page/6507ead7b99d5302be949ba9?external_id&#x3D;6507ead7b99d5302be949ba9)
func (r ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest {
    r.shopCipher = &shopCipher
    return r
}
// 
func (r ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest) ContentType(contentType string) ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest) Execute() (*affiliate_seller_v202509.AffiliateSeller202509GenerateTargetCollaborationLinkResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostExecute(r)
}

/*
AffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPost GenerateTargetCollaborationLink
Generate a Target Collaboration Link that the seller can share with the creator. This link directs the creator to a guided flow to review details and formally accept the target collaboration

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param targetCollaborationId Target collaboration ID. 
@return ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest
*/
func (a *AffiliateSellerV202509APIService) AffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPost(ctx context.Context, targetCollaborationId string) ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest {
    return ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest{
        ApiService: a,
        ctx: ctx,
        targetCollaborationId: targetCollaborationId,
    }
}

// Execute executes the request
//  @return AffiliateSeller202509GenerateTargetCollaborationLinkResponse
func (a *AffiliateSellerV202509APIService) AffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostExecute(r ApiAffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPostRequest) (*affiliate_seller_v202509.AffiliateSeller202509GenerateTargetCollaborationLinkResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202509.AffiliateSeller202509GenerateTargetCollaborationLinkResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202509APIService.AffiliateSeller202509TargetCollaborationTargetCollaborationIdLinkPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202509/target_collaboration/{target_collaboration_id}/link"
    localVarPath = strings.Replace(localVarPath, "{"+"target_collaboration_id"+"}", url.PathEscape(parameterValueToString(r.targetCollaborationId, "targetCollaborationId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.shopCipher == nil {
        return localVarReturnValue, nil, reportError("shopCipher is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
