/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"

    "tiktokshop/open/sdk_golang/models/analytics/v202512"
)


// AnalyticsV202512APIService AnalyticsV202512API service
type AnalyticsV202512APIService service

type ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202512APIService
    liveId string
    xTtsAccessToken *string
    contentType *string
    sortOrder *string
    sortField *string
    currency *string
    shopCipher *string
}

// 
func (r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Sort direction. Available values: ASC, DESC Default value: DESC
func (r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) SortOrder(sortOrder string) ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest {
    r.sortOrder = &sortOrder
    return r
}
// Field to sort on. Default: gmv Available values: - direct_gmv - items_sold - customers - created_sku_orders - sku_orders - main_orders - product_impressions - produt_clicks
func (r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) SortField(sortField string) ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest {
    r.sortField = &sortField
    return r
}
// USD or LOCAL
func (r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) Currency(currency string) ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest {
    r.currency = &currency
    return r
}
// 
func (r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) Execute() (*analytics_v202512.Analytics202512GetShopLIVEProductsPerformanceListResponse, *http.Response, error) {
    return r.ApiService.Analytics202512ShopLiveIdProductsPerformanceGetExecute(r)
}

/*
Analytics202512ShopLiveIdProductsPerformanceGet GetShopLIVEProductsPerformanceList
Shop related LIVE session (official account & marketing accounts） Sale performance of each product

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param liveId TTS LIVE session ID
@return ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest
*/
func (a *AnalyticsV202512APIService) Analytics202512ShopLiveIdProductsPerformanceGet(ctx context.Context, liveId string) ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest {
    return ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
        liveId: liveId,
    }
}

// Execute executes the request
//  @return Analytics202512GetShopLIVEProductsPerformanceListResponse
func (a *AnalyticsV202512APIService) Analytics202512ShopLiveIdProductsPerformanceGetExecute(r ApiAnalytics202512ShopLiveIdProductsPerformanceGetRequest) (*analytics_v202512.Analytics202512GetShopLIVEProductsPerformanceListResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202512.Analytics202512GetShopLIVEProductsPerformanceListResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202512APIService.Analytics202512ShopLiveIdProductsPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202512/shop/{live_id}/products_performance"
    localVarPath = strings.Replace(localVarPath, "{"+"live_id"+"}", url.PathEscape(parameterValueToString(r.liveId, "liveId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.sortOrder != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "")
    }
    if r.sortField != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
