/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"

    "tiktokshop/open/sdk_golang/models/affiliate_seller/v202507"
)


// AffiliateSellerV202507APIService AffiliateSellerV202507API service
type AffiliateSellerV202507APIService service

type ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202507APIService
    applicationId string
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    affiliateSeller202507SellerReviewSampleApplicationsRequestBody *affiliate_seller_v202507.AffiliateSeller202507SellerReviewSampleApplicationsRequestBody
}

// 
func (r ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest) ContentType(contentType string) ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest) AffiliateSeller202507SellerReviewSampleApplicationsRequestBody(affiliateSeller202507SellerReviewSampleApplicationsRequestBody affiliate_seller_v202507.AffiliateSeller202507SellerReviewSampleApplicationsRequestBody) ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest {
    r.affiliateSeller202507SellerReviewSampleApplicationsRequestBody = &affiliateSeller202507SellerReviewSampleApplicationsRequestBody
    return r
}
func (r ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest) Execute() (*affiliate_seller_v202507.AffiliateSeller202507SellerReviewSampleApplicationsResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202507SampleApplicationsApplicationIdReviewPostExecute(r)
}

/*
AffiliateSeller202507SampleApplicationsApplicationIdReviewPost SellerReviewSampleApplications
This API allows the seller to approve or reject the creator's sample application in an open collaboration. When rejecting an application, the seller must provide a specific reason. This API facilitates the management of sample applications by giving sellers the ability to review and update applications according to their criteria and requirements.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param applicationId The unique id of sample request application ID
@return ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest
*/
func (a *AffiliateSellerV202507APIService) AffiliateSeller202507SampleApplicationsApplicationIdReviewPost(ctx context.Context, applicationId string) ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest {
    return ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest{
        ApiService: a,
        ctx: ctx,
        applicationId: applicationId,
    }
}

// Execute executes the request
//  @return AffiliateSeller202507SellerReviewSampleApplicationsResponse
func (a *AffiliateSellerV202507APIService) AffiliateSeller202507SampleApplicationsApplicationIdReviewPostExecute(r ApiAffiliateSeller202507SampleApplicationsApplicationIdReviewPostRequest) (*affiliate_seller_v202507.AffiliateSeller202507SellerReviewSampleApplicationsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202507.AffiliateSeller202507SellerReviewSampleApplicationsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202507APIService.AffiliateSeller202507SampleApplicationsApplicationIdReviewPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202507/sample_applications/{application_id}/review"
    localVarPath = strings.Replace(localVarPath, "{"+"application_id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202507SellerReviewSampleApplicationsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202507SampleApplicationsSearchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202507APIService
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    pageSize *int64
    shopCipher *string
    affiliateSeller202507SellerSearchSampleApplicationsRequestBody *affiliate_seller_v202507.AffiliateSeller202507SellerSearchSampleApplicationsRequestBody
}

// 
func (r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202507SampleApplicationsSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) ContentType(contentType string) ApiAffiliateSeller202507SampleApplicationsSearchPostRequest {
    r.contentType = &contentType
    return r
}
// Pagination offset determines where you begin to search for. It&#39;s empty when raise your first request.
func (r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) PageToken(pageToken string) ApiAffiliateSeller202507SampleApplicationsSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
// The value of \&quot;page_size\&quot; must be greater than 0 and less than or equal to 50.
func (r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) PageSize(pageSize int64) ApiAffiliateSeller202507SampleApplicationsSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202507SampleApplicationsSearchPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) AffiliateSeller202507SellerSearchSampleApplicationsRequestBody(affiliateSeller202507SellerSearchSampleApplicationsRequestBody affiliate_seller_v202507.AffiliateSeller202507SellerSearchSampleApplicationsRequestBody) ApiAffiliateSeller202507SampleApplicationsSearchPostRequest {
    r.affiliateSeller202507SellerSearchSampleApplicationsRequestBody = &affiliateSeller202507SellerSearchSampleApplicationsRequestBody
    return r
}
func (r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) Execute() (*affiliate_seller_v202507.AffiliateSeller202507SellerSearchSampleApplicationsResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202507SampleApplicationsSearchPostExecute(r)
}

/*
AffiliateSeller202507SampleApplicationsSearchPost SellerSearchSampleApplications
This API is provided for sellers to query sample applications based on various criteria such as products, creators, or application statuses. By using this API, sellers can retrieve detailed information about sample application records, including the creator's information and the specifics of each application.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202507SampleApplicationsSearchPostRequest
*/
func (a *AffiliateSellerV202507APIService) AffiliateSeller202507SampleApplicationsSearchPost(ctx context.Context) ApiAffiliateSeller202507SampleApplicationsSearchPostRequest {
    return ApiAffiliateSeller202507SampleApplicationsSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202507SellerSearchSampleApplicationsResponse
func (a *AffiliateSellerV202507APIService) AffiliateSeller202507SampleApplicationsSearchPostExecute(r ApiAffiliateSeller202507SampleApplicationsSearchPostRequest) (*affiliate_seller_v202507.AffiliateSeller202507SellerSearchSampleApplicationsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202507.AffiliateSeller202507SellerSearchSampleApplicationsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202507APIService.AffiliateSeller202507SampleApplicationsSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202507/sample_applications/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202507SellerSearchSampleApplicationsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
