/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/fulfillment/v202512"
)


// FulfillmentV202512APIService FulfillmentV202512API service
type FulfillmentV202512APIService service

type ApiFulfillment202512PackagesPostRequest struct {
    ctx context.Context
    ApiService *FulfillmentV202512APIService
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    fulfillment202512CreatePackagesRequestBody *fulfillment_v202512.Fulfillment202512CreatePackagesRequestBody
}

// 
func (r ApiFulfillment202512PackagesPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiFulfillment202512PackagesPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiFulfillment202512PackagesPostRequest) ContentType(contentType string) ApiFulfillment202512PackagesPostRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiFulfillment202512PackagesPostRequest) ShopCipher(shopCipher string) ApiFulfillment202512PackagesPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiFulfillment202512PackagesPostRequest) Fulfillment202512CreatePackagesRequestBody(fulfillment202512CreatePackagesRequestBody fulfillment_v202512.Fulfillment202512CreatePackagesRequestBody) ApiFulfillment202512PackagesPostRequest {
    r.fulfillment202512CreatePackagesRequestBody = &fulfillment202512CreatePackagesRequestBody
    return r
}
func (r ApiFulfillment202512PackagesPostRequest) Execute() (*fulfillment_v202512.Fulfillment202512CreatePackagesResponse, *http.Response, error) {
    return r.ApiService.Fulfillment202512PackagesPostExecute(r)
}

/*
Fulfillment202512PackagesPost CreatePackages
Use this API to ship orders (purchase labels). This API is region specific to the US. The shipping fee and delivery time is an estimate only and is based on the package dimensions and weight you provided. Based on the package attributes, options listed below may differ from your shipping subscriptions.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiFulfillment202512PackagesPostRequest
*/
func (a *FulfillmentV202512APIService) Fulfillment202512PackagesPost(ctx context.Context) ApiFulfillment202512PackagesPostRequest {
    return ApiFulfillment202512PackagesPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Fulfillment202512CreatePackagesResponse
func (a *FulfillmentV202512APIService) Fulfillment202512PackagesPostExecute(r ApiFulfillment202512PackagesPostRequest) (*fulfillment_v202512.Fulfillment202512CreatePackagesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *fulfillment_v202512.Fulfillment202512CreatePackagesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FulfillmentV202512APIService.Fulfillment202512PackagesPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/fulfillment/202512/packages"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.fulfillment202512CreatePackagesRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
