/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/affiliate_creator/v202505"
)


// AffiliateCreatorV202505APIService AffiliateCreatorV202505API service
type AffiliateCreatorV202505APIService service

type ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateCreatorV202505APIService
    xTtsAccessToken *string
    contentType *string
    affiliateCreator202505CreatorGenerateGeneralLinkRequestBody *affiliate_creator_v202505.AffiliateCreator202505CreatorGenerateGeneralLinkRequestBody
}

// 
func (r ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest) ContentType(contentType string) ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest) AffiliateCreator202505CreatorGenerateGeneralLinkRequestBody(affiliateCreator202505CreatorGenerateGeneralLinkRequestBody affiliate_creator_v202505.AffiliateCreator202505CreatorGenerateGeneralLinkRequestBody) ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest {
    r.affiliateCreator202505CreatorGenerateGeneralLinkRequestBody = &affiliateCreator202505CreatorGenerateGeneralLinkRequestBody
    return r
}
func (r ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest) Execute() (*affiliate_creator_v202505.AffiliateCreator202505CreatorGenerateGeneralLinkResponse, *http.Response, error) {
    return r.ApiService.AffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostExecute(r)
}

/*
AffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPost CreatorGenerateGeneralLink
You can use this API to generate material sharing links for your publishers. After that, you can encapsulate the sharing link with additional information like publisher ID. Right now, the material type must be `PRODUCT`.
Please ensure that the material is included in the campaign by using [Generate Multi Affiliate Partner Campaign Product Links].

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest
*/
func (a *AffiliateCreatorV202505APIService) AffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPost(ctx context.Context) ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest {
    return ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateCreator202505CreatorGenerateGeneralLinkResponse
func (a *AffiliateCreatorV202505APIService) AffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostExecute(r ApiAffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPostRequest) (*affiliate_creator_v202505.AffiliateCreator202505CreatorGenerateGeneralLinkResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_creator_v202505.AffiliateCreator202505CreatorGenerateGeneralLinkResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateCreatorV202505APIService.AffiliateCreator202505AffiliateSharingLinksGeneralPublishersGenerateBatchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_creator/202505/affiliate_sharing_links/general_publishers/generate_batch"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateCreator202505CreatorGenerateGeneralLinkRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateCreator202505OrdersTraceSearchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateCreatorV202505APIService
    pageSize *int64
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    affiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody *affiliate_creator_v202505.AffiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody
}

// The number of results to be returned per page. Default: 20 Valid Range: [1-100]
func (r ApiAffiliateCreator202505OrdersTraceSearchPostRequest) PageSize(pageSize int64) ApiAffiliateCreator202505OrdersTraceSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiAffiliateCreator202505OrdersTraceSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateCreator202505OrdersTraceSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateCreator202505OrdersTraceSearchPostRequest) ContentType(contentType string) ApiAffiliateCreator202505OrdersTraceSearchPostRequest {
    r.contentType = &contentType
    return r
}
// An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the next_page_token from a previous response. It is not needed for the first page.
func (r ApiAffiliateCreator202505OrdersTraceSearchPostRequest) PageToken(pageToken string) ApiAffiliateCreator202505OrdersTraceSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
func (r ApiAffiliateCreator202505OrdersTraceSearchPostRequest) AffiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody(affiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody affiliate_creator_v202505.AffiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody) ApiAffiliateCreator202505OrdersTraceSearchPostRequest {
    r.affiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody = &affiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody
    return r
}
func (r ApiAffiliateCreator202505OrdersTraceSearchPostRequest) Execute() (*affiliate_creator_v202505.AffiliateCreator202505CreatorSearchAffiliateTraceOrdersResponse, *http.Response, error) {
    return r.ApiService.AffiliateCreator202505OrdersTraceSearchPostExecute(r)
}

/*
AffiliateCreator202505OrdersTraceSearchPost CreatorSearchAffiliateTraceOrders
This API allows the partner to retrieve a list of affiliate orders generated by a creator, returning the order ID and the product ID. Using this, the partner can track their affiliate-conversions on behalf of a creator, using the order ID.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateCreator202505OrdersTraceSearchPostRequest
*/
func (a *AffiliateCreatorV202505APIService) AffiliateCreator202505OrdersTraceSearchPost(ctx context.Context) ApiAffiliateCreator202505OrdersTraceSearchPostRequest {
    return ApiAffiliateCreator202505OrdersTraceSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateCreator202505CreatorSearchAffiliateTraceOrdersResponse
func (a *AffiliateCreatorV202505APIService) AffiliateCreator202505OrdersTraceSearchPostExecute(r ApiAffiliateCreator202505OrdersTraceSearchPostRequest) (*affiliate_creator_v202505.AffiliateCreator202505CreatorSearchAffiliateTraceOrdersResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_creator_v202505.AffiliateCreator202505CreatorSearchAffiliateTraceOrdersResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateCreatorV202505APIService.AffiliateCreator202505OrdersTraceSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_creator/202505/orders/trace/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateCreator202505CreatorSearchAffiliateTraceOrdersRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
