/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"
    "reflect"

    "tiktokshop/open/sdk_golang/models/analytics/v202509"
)


// AnalyticsV202509APIService AnalyticsV202509API service
type AnalyticsV202509APIService service

type ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    today *bool
    granularity *string
    currency *string
    accountType *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// If \&quot;today\&quot; is set to true, start_date_ge and end_date_lt will be overwritten. The response will contain real-time metrics of today (local time)
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) Today(today bool) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.today = &today
    return r
}
// Granularity of the data. Available values: ALL, 1D Default value: ALL
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) Granularity(granularity string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.granularity = &granularity
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.currency = &currency
    return r
}
// Types of the accounts under which videos were created. Available values: ALL, OFFICIAL_ACCOUNTS, MARKETING_ACCOUNTS, AFFILIATE_ACCOUNTS Default value: ALL
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) AccountType(accountType string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.accountType = &accountType
    return r
}
// 
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopLIVEPerformanceOverviewResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopLivesOverviewPerformanceGetExecute(r)
}

/*
Analytics202509ShopLivesOverviewPerformanceGet GetShopLIVEPerformanceOverview
Returns overall performance metrics for all LIVE stream sessions under a certain shop.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopLivesOverviewPerformanceGet(ctx context.Context) ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest {
    return ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopLIVEPerformanceOverviewResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopLivesOverviewPerformanceGetExecute(r ApiAnalytics202509ShopLivesOverviewPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopLIVEPerformanceOverviewResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopLIVEPerformanceOverviewResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopLivesOverviewPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_lives/overview_performance"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.today != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "today", r.today, "")
    }
    if r.granularity != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.accountType != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopLivesPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    pageSize *int32
    sortField *string
    sortOrder *string
    currency *string
    pageToken *string
    accountType *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Number of products per page. Max value: 100 Default value: 10
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) PageSize(pageSize int32) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.pageSize = &pageSize
    return r
}
// Field to sort on. Default: gmv Available values: - gmv - products_added - different_products_sold - sku_orders - items_sold - customers - 24h_live_gmv
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) SortField(sortField string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.sortField = &sortField
    return r
}
// Sort direction. Available values: ASC, DESC Default value: DESC
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) SortOrder(sortOrder string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.sortOrder = &sortOrder
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.currency = &currency
    return r
}
// Page token, indicating the current position. Used for requesting next page data. Leave this field empty for first time queries.
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) PageToken(pageToken string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.pageToken = &pageToken
    return r
}
// Types of the accounts under which videos were created. Available values: ALL, OFFICIAL_ACCOUNTS, MARKETING_ACCOUNTS, AFFILIATE_ACCOUNTS Default value: ALL
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) AccountType(accountType string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.accountType = &accountType
    return r
}
// 
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopLivesPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopLIVEPerformanceListResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopLivesPerformanceGetExecute(r)
}

/*
Analytics202509ShopLivesPerformanceGet GetShopLIVEPerformanceList
Returns a list of LIVE stream sessions and associated metrics for a shop.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAnalytics202509ShopLivesPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopLivesPerformanceGet(ctx context.Context) ApiAnalytics202509ShopLivesPerformanceGetRequest {
    return ApiAnalytics202509ShopLivesPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopLIVEPerformanceListResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopLivesPerformanceGetExecute(r ApiAnalytics202509ShopLivesPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopLIVEPerformanceListResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopLIVEPerformanceListResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopLivesPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_lives/performance"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.sortField != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "")
    }
    if r.sortOrder != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.accountType != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    granularity *string
    currency *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Granularity of the data. Available values: ALL, 1D Default value: ALL * ALL: aggregate * 1D: daily
func (r ApiAnalytics202509ShopPerformanceGetRequest) Granularity(granularity string) ApiAnalytics202509ShopPerformanceGetRequest {
    r.granularity = &granularity
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL * USD: US dollars * LOCAL: local currency where the shop is located
func (r ApiAnalytics202509ShopPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopPerformanceGetRequest {
    r.currency = &currency
    return r
}
// 
func (r ApiAnalytics202509ShopPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopPerformanceResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopPerformanceGetExecute(r)
}

/*
Analytics202509ShopPerformanceGet GetShopPerformance
Returns performance metrics at shop/seller level.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAnalytics202509ShopPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopPerformanceGet(ctx context.Context) ApiAnalytics202509ShopPerformanceGetRequest {
    return ApiAnalytics202509ShopPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopPerformanceResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopPerformanceGetExecute(r ApiAnalytics202509ShopPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopPerformanceResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopPerformanceResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop/performance"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.granularity != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopProductsPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    pageSize *int64
    pageToken *string
    sortField *string
    sortOrder *string
    currency *string
    categoryFilter *[]string
    productStatusFilter *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Number of products per page. Max value: 100 Default value: 10
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) PageSize(pageSize int64) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.pageSize = &pageSize
    return r
}
// Page token, indicating the current position. Used for requesting next page data. Leave this field empty for first time queries.
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) PageToken(pageToken string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.pageToken = &pageToken
    return r
}
// Field to sort on. Default: gmv Available values: - gmv - items_sold - orders
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) SortField(sortField string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.sortField = &sortField
    return r
}
// Sort direction. Available values: ASC, DESC Default value: DESC * ASC: ascending * DESC: descending
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) SortOrder(sortOrder string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.sortOrder = &sortOrder
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL * USD: US dollars * LOCAL: local currency where the shop is located
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.currency = &currency
    return r
}
// Category id array
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) CategoryFilter(categoryFilter []string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.categoryFilter = &categoryFilter
    return r
}
// LIVE INACTIVE ALL (default)
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) ProductStatusFilter(productStatusFilter string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.productStatusFilter = &productStatusFilter
    return r
}
// 
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopProductsPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopProductPerformanceListResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopProductsPerformanceGetExecute(r)
}

/*
Analytics202509ShopProductsPerformanceGet GetShopProductPerformanceList
Returns a list of product performance overview metrics.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAnalytics202509ShopProductsPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopProductsPerformanceGet(ctx context.Context) ApiAnalytics202509ShopProductsPerformanceGetRequest {
    return ApiAnalytics202509ShopProductsPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopProductPerformanceListResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopProductsPerformanceGetExecute(r ApiAnalytics202509ShopProductsPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopProductPerformanceListResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopProductPerformanceListResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopProductsPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_products/performance"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.sortField != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "")
    }
    if r.sortOrder != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.categoryFilter != nil {
        t := *r.categoryFilter
        if reflect.TypeOf(t).Kind() == reflect.Slice {
            s := reflect.ValueOf(t)
            for i := 0; i < s.Len(); i++ {
                parameterAddToHeaderOrQuery(localVarQueryParams, "category_filter", s.Index(i).Interface(), "multi")
            }
        } else {
            parameterAddToHeaderOrQuery(localVarQueryParams, "category_filter", t, "multi")
        }
    }
    if r.productStatusFilter != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "product_status_filter", r.productStatusFilter, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    productId string
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    granularity *string
    currency *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Granularity of the data. Available values: ALL, 1D Default value: ALL * ALL: aggregate * 1D: daily
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) Granularity(granularity string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    r.granularity = &granularity
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL * USD: US dollars * LOCAL: local currency where the shop is located
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    r.currency = &currency
    return r
}
// 
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopProductPerformanceDetailResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopProductsProductIdPerformanceGetExecute(r)
}

/*
Analytics202509ShopProductsProductIdPerformanceGet GetShopProductPerformanceDetail
Return performance detailed metrics for a product.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param productId product id
@return ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopProductsProductIdPerformanceGet(ctx context.Context, productId string) ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest {
    return ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
        productId: productId,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopProductPerformanceDetailResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopProductsProductIdPerformanceGetExecute(r ApiAnalytics202509ShopProductsProductIdPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopProductPerformanceDetailResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopProductPerformanceDetailResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopProductsProductIdPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_products/{product_id}/performance"
    localVarPath = strings.Replace(localVarPath, "{"+"product_id"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.granularity != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopSkusPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    pageSize *int64
    pageToken *string
    sortField *string
    sortOrder *string
    categoryFilter *[]string
    productStatusFilter *string
    productIds *[]string
    currency *string
    shopCipher *string
}

// Start time (ISO 8601 YYYY-MM-DD format) in shop registered timezone, inclusive.
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End time (ISO 8601 YYYY-MM-DD format) in shop registered timezone, exclusive.
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Number of records per page. The maximum page_size value is 100
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) PageSize(pageSize int64) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.pageSize = &pageSize
    return r
}
// Page token, indicating the current position. The page_token is empty by default, indicating first position.
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) PageToken(pageToken string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.pageToken = &pageToken
    return r
}
// Sort field, possible values: -  gmv (default) - sku_orders - units_sold
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) SortField(sortField string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.sortField = &sortField
    return r
}
// Sort direction, possible values: - DESC (default) - ASC
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) SortOrder(sortOrder string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.sortOrder = &sortOrder
    return r
}
// Category id array
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) CategoryFilter(categoryFilter []string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.categoryFilter = &categoryFilter
    return r
}
// LIVE INACTIVE ALL (default)
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) ProductStatusFilter(productStatusFilter string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.productStatusFilter = &productStatusFilter
    return r
}
// Filter SKUs by product IDs. If product_ids are provided, the API will only return SKUs for the given product IDs, otherwise it will return all SKUs for the shop
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) ProductIds(productIds []string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.productIds = &productIds
    return r
}
// Currency: - USD: US dollars - LOCAL (default): Local currency where the shop is located
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.currency = &currency
    return r
}
// 
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopSkusPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopSKUPerformanceListResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopSkusPerformanceGetExecute(r)
}

/*
Analytics202509ShopSkusPerformanceGet GetShopSKUPerformanceList
Returns a list of SKU performance metrics.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAnalytics202509ShopSkusPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopSkusPerformanceGet(ctx context.Context) ApiAnalytics202509ShopSkusPerformanceGetRequest {
    return ApiAnalytics202509ShopSkusPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopSKUPerformanceListResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopSkusPerformanceGetExecute(r ApiAnalytics202509ShopSkusPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopSKUPerformanceListResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopSKUPerformanceListResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopSkusPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_skus/performance"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.sortField != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "")
    }
    if r.sortOrder != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "")
    }
    if r.categoryFilter != nil {
        t := *r.categoryFilter
        if reflect.TypeOf(t).Kind() == reflect.Slice {
            s := reflect.ValueOf(t)
            for i := 0; i < s.Len(); i++ {
                parameterAddToHeaderOrQuery(localVarQueryParams, "category_filter", s.Index(i).Interface(), "multi")
            }
        } else {
            parameterAddToHeaderOrQuery(localVarQueryParams, "category_filter", t, "multi")
        }
    }
    if r.productStatusFilter != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "product_status_filter", r.productStatusFilter, "")
    }
    if r.productIds != nil {
        t := *r.productIds
        if reflect.TypeOf(t).Kind() == reflect.Slice {
            s := reflect.ValueOf(t)
            for i := 0; i < s.Len(); i++ {
                parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", s.Index(i).Interface(), "multi")
            }
        } else {
            parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", t, "multi")
        }
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    skuId string
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    granularity *string
    currency *string
    shopCipher *string
}

// Start time (ISO 8601 YYYY-MM-DD format) in shop registered timezone, inclusive.
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End time (ISO 8601 YYYY-MM-DD format) in shop registered timezone, exclusive.
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Granularity of the data. Available values: ALL, 1D Default value: ALL * ALL: aggregate * 1D: daily
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) Granularity(granularity string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    r.granularity = &granularity
    return r
}
// Currency: - USD: US dollars - LOCAL (default): Local currency where the shop is located
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    r.currency = &currency
    return r
}
// 
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopSKUPerformanceResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopSkusSkuIdPerformanceGetExecute(r)
}

/*
Analytics202509ShopSkusSkuIdPerformanceGet GetShopSKUPerformance
Return SKU performance metrics.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param skuId SKU ID
@return ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopSkusSkuIdPerformanceGet(ctx context.Context, skuId string) ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest {
    return ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
        skuId: skuId,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopSKUPerformanceResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopSkusSkuIdPerformanceGetExecute(r ApiAnalytics202509ShopSkusSkuIdPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopSKUPerformanceResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopSKUPerformanceResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopSkusSkuIdPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_skus/{sku_id}/performance"
    localVarPath = strings.Replace(localVarPath, "{"+"sku_id"+"}", url.PathEscape(parameterValueToString(r.skuId, "skuId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.granularity != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    today *bool
    granularity *string
    currency *string
    accountType *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// If \&quot;today\&quot; is set to true, start_date_ge and end_date_lt will be overwritten. The response will contain real-time metrics of today (local time)
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) Today(today bool) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.today = &today
    return r
}
// Granularity of the data. Available values: ALL, 1D Default value: ALL * ALL: aggregate * 1D: daily
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) Granularity(granularity string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.granularity = &granularity
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL * USD: US dollars * LOCAL: local currency where the shop is located
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.currency = &currency
    return r
}
// Types of the accounts under which videos were created. Available values: ALL, OFFICIAL_ACCOUNTS, MARKETING_ACCOUNTS, AFFILIATE_ACCOUNTS Default value: ALL - ALL: all account types - OFFICIAL_ACCOUNTS, - MARKETING_ACCOUNTS, - AFFILIATE_ACCOUNTS
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) AccountType(accountType string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.accountType = &accountType
    return r
}
// 
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopVideoPerformanceOverviewResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopVideosOverviewPerformanceGetExecute(r)
}

/*
Analytics202509ShopVideosOverviewPerformanceGet GetShopVideoPerformanceOverview
Returns overall performance metrics for all videos under a shop.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosOverviewPerformanceGet(ctx context.Context) ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest {
    return ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopVideoPerformanceOverviewResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosOverviewPerformanceGetExecute(r ApiAnalytics202509ShopVideosOverviewPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopVideoPerformanceOverviewResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopVideoPerformanceOverviewResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopVideosOverviewPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_videos/overview_performance"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.today != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "today", r.today, "")
    }
    if r.granularity != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.accountType != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopVideosPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    pageSize *int32
    sortField *string
    sortOrder *string
    currency *string
    pageToken *string
    accountType *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Number of products per page. Max value: 100 Default value: 10
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) PageSize(pageSize int32) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.pageSize = &pageSize
    return r
}
// Sort on. Default value: gmv Available values:  - gmv - gpm - avg_customers - sku_orders - items_sold - views - click_through_rate
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) SortField(sortField string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.sortField = &sortField
    return r
}
// Sort direction. Available values: ASC, DESC Default value: DESC * ASC: ascending * DESC: descending
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) SortOrder(sortOrder string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.sortOrder = &sortOrder
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL * USD: US dollars * LOCAL: local currency where the shop is located
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.currency = &currency
    return r
}
// Page token, indicating the current position. Used for requesting next page data. Leave this field empty for first time queries.
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) PageToken(pageToken string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.pageToken = &pageToken
    return r
}
// Types of the accounts under which videos were created. Available values: ALL, OFFICIAL_ACCOUNTS, MARKETING_ACCOUNTS, AFFILIATE_ACCOUNTS Default value: ALL - ALL: all account types - OFFICIAL_ACCOUNTS, - MARKETING_ACCOUNTS, - AFFILIATE_ACCOUNTS
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) AccountType(accountType string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.accountType = &accountType
    return r
}
// 
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopVideosPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopVideoPerformanceListResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopVideosPerformanceGetExecute(r)
}

/*
Analytics202509ShopVideosPerformanceGet GetShopVideoPerformanceList
Returns a list of videos and associated metrics for a shop.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAnalytics202509ShopVideosPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosPerformanceGet(ctx context.Context) ApiAnalytics202509ShopVideosPerformanceGetRequest {
    return ApiAnalytics202509ShopVideosPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopVideoPerformanceListResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosPerformanceGetExecute(r ApiAnalytics202509ShopVideosPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopVideoPerformanceListResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopVideoPerformanceListResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopVideosPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_videos/performance"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.sortField != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "")
    }
    if r.sortOrder != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.accountType != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    videoId string
    startDateGe *string
    endDateLt *string
    xTtsAccessToken *string
    contentType *string
    granularity *string
    currency *string
    shopCipher *string
}

// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// 
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Granularity of the data. Available values: ALL, 1D Default value: ALL * ALL: aggregate * 1D: daily
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) Granularity(granularity string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    r.granularity = &granularity
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL * USD: US dollars * LOCAL: local currency where the shop is located
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    r.currency = &currency
    return r
}
// 
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopVideoPerformanceDetailsResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopVideosVideoIdPerformanceGetExecute(r)
}

/*
Analytics202509ShopVideosVideoIdPerformanceGet GetShopVideoPerformanceDetails
Returns detailed performance metrics for a (requested) video.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param videoId Video ID
@return ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosVideoIdPerformanceGet(ctx context.Context, videoId string) ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest {
    return ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
        videoId: videoId,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopVideoPerformanceDetailsResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosVideoIdPerformanceGetExecute(r ApiAnalytics202509ShopVideosVideoIdPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopVideoPerformanceDetailsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopVideoPerformanceDetailsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopVideosVideoIdPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_videos/{video_id}/performance"
    localVarPath = strings.Replace(localVarPath, "{"+"video_id"+"}", url.PathEscape(parameterValueToString(r.videoId, "videoId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.granularity != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest struct {
    ctx context.Context
    ApiService *AnalyticsV202509APIService
    videoId string
    endDateLt *string
    startDateGe *string
    xTtsAccessToken *string
    contentType *string
    pageSize *int32
    sortField *string
    sortOrder *string
    currency *string
    pageToken *string
    shopCipher *string
}

// End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;lt\&quot; refers to \&quot;less than\&quot; (exclusive)
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) EndDateLt(endDateLt string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.endDateLt = &endDateLt
    return r
}
// Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone. In the parameter name, \&quot;ge\&quot; refers to \&quot;greater than or equal to\&quot; (inclusive)
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) StartDateGe(startDateGe string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.startDateGe = &startDateGe
    return r
}
// 
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) ContentType(contentType string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.contentType = &contentType
    return r
}
// Number of products per page. Max value: 100 Default value: 10
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) PageSize(pageSize int32) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.pageSize = &pageSize
    return r
}
// Sort on. Available values: gmv, units_sold, daily_avg_buyers Default value: gmv
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) SortField(sortField string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.sortField = &sortField
    return r
}
// Sort direction. Available values: ASC, DESC Default value: DESC * ASC: ascending * DESC: descending
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) SortOrder(sortOrder string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.sortOrder = &sortOrder
    return r
}
// Currency. Available values: USD, LOCAL Default value: LOCAL * USD: US dollars * LOCAL: local currency where the shop is located
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) Currency(currency string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.currency = &currency
    return r
}
// Page token, indicating the current position. Used for requesting next page data. Leave this field empty for first time queries.
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) PageToken(pageToken string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.pageToken = &pageToken
    return r
}
// 
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) ShopCipher(shopCipher string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) Execute() (*analytics_v202509.Analytics202509GetShopVideoProductPerformanceListResponse, *http.Response, error) {
    return r.ApiService.Analytics202509ShopVideosVideoIdProductsPerformanceGetExecute(r)
}

/*
Analytics202509ShopVideosVideoIdProductsPerformanceGet GetShopVideoProductPerformanceList
Returns performance metrics for a list of products promoted in a given video.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param videoId Video ID
@return ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest
*/
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosVideoIdProductsPerformanceGet(ctx context.Context, videoId string) ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest {
    return ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest{
        ApiService: a,
        ctx: ctx,
        videoId: videoId,
    }
}

// Execute executes the request
//  @return Analytics202509GetShopVideoProductPerformanceListResponse
func (a *AnalyticsV202509APIService) Analytics202509ShopVideosVideoIdProductsPerformanceGetExecute(r ApiAnalytics202509ShopVideosVideoIdProductsPerformanceGetRequest) (*analytics_v202509.Analytics202509GetShopVideoProductPerformanceListResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *analytics_v202509.Analytics202509GetShopVideoProductPerformanceListResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsV202509APIService.Analytics202509ShopVideosVideoIdProductsPerformanceGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/analytics/202509/shop_videos/{video_id}/products/performance"
    localVarPath = strings.Replace(localVarPath, "{"+"video_id"+"}", url.PathEscape(parameterValueToString(r.videoId, "videoId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.endDateLt == nil {
        return localVarReturnValue, nil, reportError("endDateLt is required and must be specified")
    }
    if r.startDateGe == nil {
        return localVarReturnValue, nil, reportError("startDateGe is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "")
    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.sortField != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "")
    }
    if r.sortOrder != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "")
    }
    if r.currency != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
    }
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_ge", r.startDateGe, "")
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
