/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"

    "tiktokshop/open/sdk_golang/models/affiliate_seller/v202508"
)


// AffiliateSellerV202508APIService AffiliateSellerV202508API service
type AffiliateSellerV202508APIService service

type ApiAffiliateSeller202508ConversationsPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    affiliateSeller202508CreateConversationwithcreatorRequestBody *affiliate_seller_v202508.AffiliateSeller202508CreateConversationwithcreatorRequestBody
}

// 
func (r ApiAffiliateSeller202508ConversationsPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508ConversationsPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508ConversationsPostRequest) ContentType(contentType string) ApiAffiliateSeller202508ConversationsPostRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiAffiliateSeller202508ConversationsPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508ConversationsPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508ConversationsPostRequest) AffiliateSeller202508CreateConversationwithcreatorRequestBody(affiliateSeller202508CreateConversationwithcreatorRequestBody affiliate_seller_v202508.AffiliateSeller202508CreateConversationwithcreatorRequestBody) ApiAffiliateSeller202508ConversationsPostRequest {
    r.affiliateSeller202508CreateConversationwithcreatorRequestBody = &affiliateSeller202508CreateConversationwithcreatorRequestBody
    return r
}
func (r ApiAffiliateSeller202508ConversationsPostRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508CreateConversationwithcreatorResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508ConversationsPostExecute(r)
}

/*
AffiliateSeller202508ConversationsPost CreateConversationwithcreator
Get the existing conversation or create a new conversation with the specified TikTok creator for later communication.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202508ConversationsPostRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508ConversationsPost(ctx context.Context) ApiAffiliateSeller202508ConversationsPostRequest {
    return ApiAffiliateSeller202508ConversationsPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508CreateConversationwithcreatorResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508ConversationsPostExecute(r ApiAffiliateSeller202508ConversationsPostRequest) (*affiliate_seller_v202508.AffiliateSeller202508CreateConversationwithcreatorResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508CreateConversationwithcreatorResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508ConversationsPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/conversations"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202508CreateConversationwithcreatorRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    creatorUserId string
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
}

// 
func (r ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest) ContentType(contentType string) ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508GetMarketplaceCreatorPerformanceResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetExecute(r)
}

/*
AffiliateSeller202508MarketplaceCreatorsCreatorUserIdGet GetMarketplaceCreatorPerformance
Get the Creator Affiliate's Marketplace information and performance metrics in the last 30 days. 

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param creatorUserId Creator Open ID. [More details](https://partner.tiktokshop.com/docv2/page/3obfokj6)
@return ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508MarketplaceCreatorsCreatorUserIdGet(ctx context.Context, creatorUserId string) ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest {
    return ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest{
        ApiService: a,
        ctx: ctx,
        creatorUserId: creatorUserId,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508GetMarketplaceCreatorPerformanceResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetExecute(r ApiAffiliateSeller202508MarketplaceCreatorsCreatorUserIdGetRequest) (*affiliate_seller_v202508.AffiliateSeller202508GetMarketplaceCreatorPerformanceResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508GetMarketplaceCreatorPerformanceResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508MarketplaceCreatorsCreatorUserIdGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/marketplace_creators/{creator_user_id}"
    localVarPath = strings.Replace(localVarPath, "{"+"creator_user_id"+"}", url.PathEscape(parameterValueToString(r.creatorUserId, "creatorUserId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    pageSize *int64
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    shopCipher *string
    affiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody *affiliate_seller_v202508.AffiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody
}

// The value of \&quot;page_size\&quot; must be 12 or 20
func (r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) PageSize(pageSize int64) ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) ContentType(contentType string) ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest {
    r.contentType = &contentType
    return r
}
// Pagination offset determines where you begin to search for. It&#39;s empty when raise your first request
func (r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) PageToken(pageToken string) ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
// 
func (r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) AffiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody(affiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody affiliate_seller_v202508.AffiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody) ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest {
    r.affiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody = &affiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody
    return r
}
func (r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508SellerSearchCreatoronMarketplaceResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508MarketplaceCreatorsSearchPostExecute(r)
}

/*
AffiliateSeller202508MarketplaceCreatorsSearchPost SellerSearchCreatoronMarketplace
This API is used by Sellers to search for Creators in the Creator Marketplace. Sellers can search based on filters such as GMV, keywords, and Creator follower demographics. All the data returned is for the last 30 days.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508MarketplaceCreatorsSearchPost(ctx context.Context) ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest {
    return ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508SellerSearchCreatoronMarketplaceResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508MarketplaceCreatorsSearchPostExecute(r ApiAffiliateSeller202508MarketplaceCreatorsSearchPostRequest) (*affiliate_seller_v202508.AffiliateSeller202508SellerSearchCreatoronMarketplaceResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508SellerSearchCreatoronMarketplaceResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508MarketplaceCreatorsSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/marketplace_creators/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202508SellerSearchCreatoronMarketplaceRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    pageSize *int64
    productId *string
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    shopCipher *string
}

// The value of \&quot;page_size\&quot; must be greater than 0 and less than or equal to 100.
func (r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) PageSize(pageSize int64) ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest {
    r.pageSize = &pageSize
    return r
}
// The product ID that needs to be queried.
func (r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) ProductId(productId string) ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest {
    r.productId = &productId
    return r
}
// 
func (r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) ContentType(contentType string) ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest {
    r.contentType = &contentType
    return r
}
// Pagination offset determines where you begin to search for. It&#39;s empty when you raise your first request.
func (r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) PageToken(pageToken string) ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest {
    r.pageToken = &pageToken
    return r
}
// 
func (r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508GetOpenCollaborationCreatorContentDetailResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetExecute(r)
}

/*
AffiliateSeller202508OpenCollaborationsCreatorContentDetailsGet GetOpenCollaborationCreatorContentDetail
This API allows the seller to get the creator content details of specified open collaboration.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508OpenCollaborationsCreatorContentDetailsGet(ctx context.Context) ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest {
    return ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508GetOpenCollaborationCreatorContentDetailResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetExecute(r ApiAffiliateSeller202508OpenCollaborationsCreatorContentDetailsGetRequest) (*affiliate_seller_v202508.AffiliateSeller202508GetOpenCollaborationCreatorContentDetailResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508GetOpenCollaborationCreatorContentDetailResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508OpenCollaborationsCreatorContentDetailsGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/open_collaborations/creator_content_details"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.productId == nil {
        return localVarReturnValue, nil, reportError("productId is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId, "")
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    openCollaborationId string
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    affiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody *affiliate_seller_v202508.AffiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody
}

// 
func (r ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest) ContentType(contentType string) ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest) AffiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody(affiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody affiliate_seller_v202508.AffiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody) ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest {
    r.affiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody = &affiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody
    return r
}
func (r ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508RemoveCreatorFromOpenCollaborationResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostExecute(r)
}

/*
AffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPost RemoveCreatorFromOpenCollaboration
This API is used to remove creators from open collaboration. Please note, due to current platform design, creators can still rejoin an open collaboration after removal. Partners/Sellers can call this API again to remove the creator again. 

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param openCollaborationId Open collaboration ID. This API is only applicable to the seller removing creators from open collaboration.
@return ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPost(ctx context.Context, openCollaborationId string) ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest {
    return ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest{
        ApiService: a,
        ctx: ctx,
        openCollaborationId: openCollaborationId,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508RemoveCreatorFromOpenCollaborationResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostExecute(r ApiAffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPostRequest) (*affiliate_seller_v202508.AffiliateSeller202508RemoveCreatorFromOpenCollaborationResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508RemoveCreatorFromOpenCollaborationResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508OpenCollaborationsOpenCollaborationIdRemoveCreatorPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/open_collaborations/{open_collaboration_id}/remove_creator"
    localVarPath = strings.Replace(localVarPath, "{"+"open_collaboration_id"+"}", url.PathEscape(parameterValueToString(r.openCollaborationId, "openCollaborationId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202508RemoveCreatorFromOpenCollaborationRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508SampleApplicationsSearchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    pageSize *int64
    shopCipher *string
    affiliateSeller202508SellerSearchSampleApplicationsRequestBody *affiliate_seller_v202508.AffiliateSeller202508SellerSearchSampleApplicationsRequestBody
}

// 
func (r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508SampleApplicationsSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) ContentType(contentType string) ApiAffiliateSeller202508SampleApplicationsSearchPostRequest {
    r.contentType = &contentType
    return r
}
// Pagination offset determines where you begin to search for. It&#39;s empty when raise your first request.
func (r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) PageToken(pageToken string) ApiAffiliateSeller202508SampleApplicationsSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
// The value of \&quot;page_size\&quot; must be greater than 0 and less than or equal to 50.
func (r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) PageSize(pageSize int64) ApiAffiliateSeller202508SampleApplicationsSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508SampleApplicationsSearchPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) AffiliateSeller202508SellerSearchSampleApplicationsRequestBody(affiliateSeller202508SellerSearchSampleApplicationsRequestBody affiliate_seller_v202508.AffiliateSeller202508SellerSearchSampleApplicationsRequestBody) ApiAffiliateSeller202508SampleApplicationsSearchPostRequest {
    r.affiliateSeller202508SellerSearchSampleApplicationsRequestBody = &affiliateSeller202508SellerSearchSampleApplicationsRequestBody
    return r
}
func (r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508SellerSearchSampleApplicationsResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508SampleApplicationsSearchPostExecute(r)
}

/*
AffiliateSeller202508SampleApplicationsSearchPost SellerSearchSampleApplications
This API is provided for sellers to query sample applications based on various criteria such as products, creators, or application statuses. By using this API, sellers can retrieve detailed information about sample application records, including the creator's information and the specifics of each application.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202508SampleApplicationsSearchPostRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508SampleApplicationsSearchPost(ctx context.Context) ApiAffiliateSeller202508SampleApplicationsSearchPostRequest {
    return ApiAffiliateSeller202508SampleApplicationsSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508SellerSearchSampleApplicationsResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508SampleApplicationsSearchPostExecute(r ApiAffiliateSeller202508SampleApplicationsSearchPostRequest) (*affiliate_seller_v202508.AffiliateSeller202508SellerSearchSampleApplicationsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508SellerSearchSampleApplicationsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508SampleApplicationsSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/sample_applications/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202508SellerSearchSampleApplicationsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508TargetCollaborationsPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    affiliateSeller202508CreateTargetCollaborationRequestBody *affiliate_seller_v202508.AffiliateSeller202508CreateTargetCollaborationRequestBody
}

// 
func (r ApiAffiliateSeller202508TargetCollaborationsPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508TargetCollaborationsPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508TargetCollaborationsPostRequest) ContentType(contentType string) ApiAffiliateSeller202508TargetCollaborationsPostRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiAffiliateSeller202508TargetCollaborationsPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508TargetCollaborationsPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508TargetCollaborationsPostRequest) AffiliateSeller202508CreateTargetCollaborationRequestBody(affiliateSeller202508CreateTargetCollaborationRequestBody affiliate_seller_v202508.AffiliateSeller202508CreateTargetCollaborationRequestBody) ApiAffiliateSeller202508TargetCollaborationsPostRequest {
    r.affiliateSeller202508CreateTargetCollaborationRequestBody = &affiliateSeller202508CreateTargetCollaborationRequestBody
    return r
}
func (r ApiAffiliateSeller202508TargetCollaborationsPostRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508CreateTargetCollaborationResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508TargetCollaborationsPostExecute(r)
}

/*
AffiliateSeller202508TargetCollaborationsPost CreateTargetCollaboration
This API is used to create a target collaboration.
A target collaboration is a collaboration between a seller selected set of products (including a commission payout) and a set of creators the seller has added (invited) to the collaboration. Target collaborations are private and not visible in the Creator Marketplace to all creators; they are only visible to those that have been added to the collaboration.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202508TargetCollaborationsPostRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsPost(ctx context.Context) ApiAffiliateSeller202508TargetCollaborationsPostRequest {
    return ApiAffiliateSeller202508TargetCollaborationsPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508CreateTargetCollaborationResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsPostExecute(r ApiAffiliateSeller202508TargetCollaborationsPostRequest) (*affiliate_seller_v202508.AffiliateSeller202508CreateTargetCollaborationResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508CreateTargetCollaborationResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508TargetCollaborationsPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/target_collaborations"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202508CreateTargetCollaborationRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    xTtsAccessToken *string
    contentType *string
    pageSize *int64
    pageToken *string
    shopCipher *string
    affiliateSeller202508SearchTargetCollaborationsRequestBody *affiliate_seller_v202508.AffiliateSeller202508SearchTargetCollaborationsRequestBody
}

// 
func (r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) ContentType(contentType string) ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest {
    r.contentType = &contentType
    return r
}
// The value of \&quot;page_size\&quot; must be 20, 50 or 100.
func (r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) PageSize(pageSize int64) ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// Pagination offset determines where you begin to search for. It&#39;s empty when raise your first request.
func (r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) PageToken(pageToken string) ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
// 
func (r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) AffiliateSeller202508SearchTargetCollaborationsRequestBody(affiliateSeller202508SearchTargetCollaborationsRequestBody affiliate_seller_v202508.AffiliateSeller202508SearchTargetCollaborationsRequestBody) ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest {
    r.affiliateSeller202508SearchTargetCollaborationsRequestBody = &affiliateSeller202508SearchTargetCollaborationsRequestBody
    return r
}
func (r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508SearchTargetCollaborationsResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508TargetCollaborationsSearchPostExecute(r)
}

/*
AffiliateSeller202508TargetCollaborationsSearchPost SearchTargetCollaborations
This API is used by Seller to search for all existing target collaborations. Sellers can search based on filters such as Invitation name, Invitation ID, Product name, Product ID and Creator name. 

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsSearchPost(ctx context.Context) ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest {
    return ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508SearchTargetCollaborationsResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsSearchPostExecute(r ApiAffiliateSeller202508TargetCollaborationsSearchPostRequest) (*affiliate_seller_v202508.AffiliateSeller202508SearchTargetCollaborationsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508SearchTargetCollaborationsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508TargetCollaborationsSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/target_collaborations/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.pageSize != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    }
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202508SearchTargetCollaborationsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    targetCollaborationId string
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
}

// 
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest) ContentType(contentType string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508QueryTargetCollaborationDetailResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetExecute(r)
}

/*
AffiliateSeller202508TargetCollaborationsTargetCollaborationIdGet QueryTargetCollaborationDetail
This API is used by Sellers to get target collaboration information.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param targetCollaborationId target collaboration id
@return ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsTargetCollaborationIdGet(ctx context.Context, targetCollaborationId string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest {
    return ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest{
        ApiService: a,
        ctx: ctx,
        targetCollaborationId: targetCollaborationId,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508QueryTargetCollaborationDetailResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetExecute(r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdGetRequest) (*affiliate_seller_v202508.AffiliateSeller202508QueryTargetCollaborationDetailResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508QueryTargetCollaborationDetailResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508TargetCollaborationsTargetCollaborationIdGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/target_collaborations/{target_collaboration_id}"
    localVarPath = strings.Replace(localVarPath, "{"+"target_collaboration_id"+"}", url.PathEscape(parameterValueToString(r.targetCollaborationId, "targetCollaborationId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest struct {
    ctx context.Context
    ApiService *AffiliateSellerV202508APIService
    targetCollaborationId string
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    affiliateSeller202508UpdateTargetCollaborationRequestBody *affiliate_seller_v202508.AffiliateSeller202508UpdateTargetCollaborationRequestBody
}

// 
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest) ContentType(contentType string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest) ShopCipher(shopCipher string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest) AffiliateSeller202508UpdateTargetCollaborationRequestBody(affiliateSeller202508UpdateTargetCollaborationRequestBody affiliate_seller_v202508.AffiliateSeller202508UpdateTargetCollaborationRequestBody) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest {
    r.affiliateSeller202508UpdateTargetCollaborationRequestBody = &affiliateSeller202508UpdateTargetCollaborationRequestBody
    return r
}
func (r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest) Execute() (*affiliate_seller_v202508.AffiliateSeller202508UpdateTargetCollaborationResponse, *http.Response, error) {
    return r.ApiService.AffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutExecute(r)
}

/*
AffiliateSeller202508TargetCollaborationsTargetCollaborationIdPut UpdateTargetCollaboration
This API is used by Seller to update STANDARD target collaboration.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param targetCollaborationId The unique id of specific target collaboration. 
@return ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest
*/
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsTargetCollaborationIdPut(ctx context.Context, targetCollaborationId string) ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest {
    return ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest{
        ApiService: a,
        ctx: ctx,
        targetCollaborationId: targetCollaborationId,
    }
}

// Execute executes the request
//  @return AffiliateSeller202508UpdateTargetCollaborationResponse
func (a *AffiliateSellerV202508APIService) AffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutExecute(r ApiAffiliateSeller202508TargetCollaborationsTargetCollaborationIdPutRequest) (*affiliate_seller_v202508.AffiliateSeller202508UpdateTargetCollaborationResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPut
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_seller_v202508.AffiliateSeller202508UpdateTargetCollaborationResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateSellerV202508APIService.AffiliateSeller202508TargetCollaborationsTargetCollaborationIdPut")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_seller/202508/target_collaborations/{target_collaboration_id}"
    localVarPath = strings.Replace(localVarPath, "{"+"target_collaboration_id"+"}", url.PathEscape(parameterValueToString(r.targetCollaborationId, "targetCollaborationId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateSeller202508UpdateTargetCollaborationRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
