/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/affiliate_creator/v202410"
)


// AffiliateCreatorV202410APIService AffiliateCreatorV202410API service
type AffiliateCreatorV202410APIService service

type ApiAffiliateCreator202410OrdersSearchPostRequest struct {
    ctx context.Context
    ApiService *AffiliateCreatorV202410APIService
    pageSize *int64
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    affiliateCreator202410SearchCreatorAffiliateOrdersRequestBody *affiliate_creator_v202410.AffiliateCreator202410SearchCreatorAffiliateOrdersRequestBody
}

// The number of results to be returned per page. Default: 20 Valid Range: [1-100]
func (r ApiAffiliateCreator202410OrdersSearchPostRequest) PageSize(pageSize int64) ApiAffiliateCreator202410OrdersSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiAffiliateCreator202410OrdersSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiAffiliateCreator202410OrdersSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiAffiliateCreator202410OrdersSearchPostRequest) ContentType(contentType string) ApiAffiliateCreator202410OrdersSearchPostRequest {
    r.contentType = &contentType
    return r
}
// An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.
func (r ApiAffiliateCreator202410OrdersSearchPostRequest) PageToken(pageToken string) ApiAffiliateCreator202410OrdersSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
func (r ApiAffiliateCreator202410OrdersSearchPostRequest) AffiliateCreator202410SearchCreatorAffiliateOrdersRequestBody(affiliateCreator202410SearchCreatorAffiliateOrdersRequestBody affiliate_creator_v202410.AffiliateCreator202410SearchCreatorAffiliateOrdersRequestBody) ApiAffiliateCreator202410OrdersSearchPostRequest {
    r.affiliateCreator202410SearchCreatorAffiliateOrdersRequestBody = &affiliateCreator202410SearchCreatorAffiliateOrdersRequestBody
    return r
}
func (r ApiAffiliateCreator202410OrdersSearchPostRequest) Execute() (*affiliate_creator_v202410.AffiliateCreator202410SearchCreatorAffiliateOrdersResponse, *http.Response, error) {
    return r.ApiService.AffiliateCreator202410OrdersSearchPostExecute(r)
}

/*
AffiliateCreator202410OrdersSearchPost SearchCreatorAffiliateOrders
Search Creator Affiliate Orders
This API allows the partner to retrieve a list of affiliate orders generated by a creator, returning the order ID and the product ID. Using this, the partner can track their affiliate-conversions on behalf of a creator, using the order ID.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiAffiliateCreator202410OrdersSearchPostRequest
*/
func (a *AffiliateCreatorV202410APIService) AffiliateCreator202410OrdersSearchPost(ctx context.Context) ApiAffiliateCreator202410OrdersSearchPostRequest {
    return ApiAffiliateCreator202410OrdersSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return AffiliateCreator202410SearchCreatorAffiliateOrdersResponse
func (a *AffiliateCreatorV202410APIService) AffiliateCreator202410OrdersSearchPostExecute(r ApiAffiliateCreator202410OrdersSearchPostRequest) (*affiliate_creator_v202410.AffiliateCreator202410SearchCreatorAffiliateOrdersResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *affiliate_creator_v202410.AffiliateCreator202410SearchCreatorAffiliateOrdersResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AffiliateCreatorV202410APIService.AffiliateCreator202410OrdersSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/affiliate_creator/202410/orders/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.affiliateCreator202410SearchCreatorAffiliateOrdersRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
